<DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/menu.css">
  </head>
  <body>
     <header>
        <div class="menu_bar">
          <a href="#" class="bt-menu"><span class="icon-list2"><i class="fas fa-bars"></i></span></a>
        </div>     
        <nav>
          <ul>
            <li><a href="index.html"><span class="icon-house"></span>Tithua</a></li>
            <li><a href="bodas.html"><span class="icon-suitcase"></span>Menu</a></li>
          </ul>
        </nav>
     </header>
       <section class="imageninicio">
         <div>
           <img src="../images/Tithua.png" alt="">
         </div>
         <div>
            <h1>En Tithua Films nos enfocamos en crear historiasque atrapanbasados en labig-data, utilizando los relatosde
susmismos clientes y colaboradores,para consolidar ypotencializar su organización empresarial.

Representados enpiezas audiovisualesde comunicación confiable y efectiva. </h1>
          </div>
       
       </section>
       <section class="section2">
         <div>
         </div>
       </section>
       <section class="section3">
         <div >
           
         </div>
       </section>

    <script src="../js/menu.js"></script>
   </body>
</html>
